@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nanum+Myeongjo&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&display=swap');
body{
    background-color: black;
}
.display{
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    margin-top: 0px;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    
}
.left_side{
    background-color: rgb(42, 120, 171);
    color: white;
    width: 40vh;
    margin-top: -8px;
    height: 100%;
}
.left_side img{
    width: 24vh;
        height: 24vh;
        margin-left: 8vh;
        border-radius: 50%;
        margin-top: 23px;
}

.heading{
    
    font-size: 24px;
    margin-left: 35px;
}
.links{
    margin-left: 4vh;
    font-size: 12px;
}
.icons{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.skills{
    text-decoration: none;
    margin-left: 4vh;
    font-size: 14px;
}
.right_side{
    width: 60vh;
    height: 100%;
    margin-top: -8vh;
    background-color: white;
}
.headlines{
    margin-top: 7vh;
        width: 53vh;
        display: flex;
        background-color: rgb(229, 246, 252);
        margin-left: 4vh;
        padding-left: 2vh;
        align-items: center;
        
}

.details{
    margin-left: 6vh;
    font-size: 2vh;
    color: #666;
}
.logos{
    margin-left: 6vh;
    font-size: 2vh;
}
.about-bootcamp {
    font-size: 16px;
        color: #666;
}
.part{
    color: #666;
}